


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  
  overflow-x: hidden;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
}

.contact-button {
  background-color: #00B894;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.hero {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to bottom, #E0FF24, white);
}

.hero text {
  font-size: 48px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.plates-section {
  text-align: center;
  padding: 50px;
  background-color: #fff;
}

.plates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.plate-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plate-item h3 {
  margin: 0;
  font-size: 1.5em;
}

.plate-item p {
  margin-top: 10px;
  font-size: 1.1em;
  color: #555;
}

.whatsapp-icon img {
  margin-top: 10px;
}

.view-all-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #f4f4f4;
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.services {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service {
  background-color: white;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer {
  padding: 50px;
  text-align: center;
  background-color: #333;
  color: white;
}

.footer-content {
  margin-bottom: 20px;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}
